
body{
    background-color: #20252A;
}
/* Maxis Section */

/* Tessa Section */

.chartcontainer{
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart{
    width: 30vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-bottom: 4.5vh;
    padding-top: 3vh;
    border-radius: 50px;
}

.prozente{
    width: 20vw;
    height: 70vh;
    text-align: right;
    padding-left: 7vw;
    font-family: 'Poppins', serif;
    font-weight: 300;
    font-size: large;
    color: white;
}